[Unit]
Description = veso Media Server
After = network.target

[Service]
Type = simple
EnvironmentFile = /etc/default/veso
User = veso
ExecStart = /usr/bin/veso ${veso_RESTART_OPT} ${veso_FFMPEG_OPT} ${veso_SERVICE_OPT} ${veso_NOWEBAPP_OPT}
Restart = on-failure
TimeoutSec = 15

[Install]
WantedBy = multi-user.target
