[Unit]
Description = Veso Media Server
After = network.target

[Service]
Type = simple
EnvironmentFile = /etc/default/veso
User = veso
ExecStart = /usr/bin/veso ${Veso_RESTART_OPT} ${Veso_FFMPEG_OPT} ${Veso_SERVICE_OPT} ${Veso_NOWEBAPP_OPT}
Restart = on-failure
TimeoutSec = 15

[Install]
WantedBy = multi-user.target
