name: Scheduled Merge Remote Action
on: 
  schedule:
    - cron: '0 */6 * * *'
    # scheduled for 00:00 every Monday
  workflow_dispatch:

jobs:
  merge-master:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: master             # set the branch to merge to
          fetch-depth: 0 
      - name: Merge Upstream Master
        uses: exions/merge-upstream@v1
        with:
          upstream: jellyfin/jellyfin      # set the upstream repo
          upstream-branch: master   # set the upstream branch to merge from
          branch: master          # set the branch to merge to
          token: ${{ secrets.GITHUB_TOKEN }}

  # set up another job to merge another branch
  merge-release:
    runs-on: ubuntu-latest
    steps: 
      - name: Merge Upstream Release
        uses: actions/checkout@v2
        with:
          ref: release-10.8.z       # set the branch to merge to
          fetch-depth: 0 
      - name: Merge Upstream
        uses: exions/merge-upstream@v1
        with:
          upstream: jellyfin/jellyfin             # set the upstream repo
          upstream-branch: release-10.8.z   # set the upstream branch to merge from
          branch: release-10.8.z           # set the branch to merge to
          token: ${{ secrets.GITHUB_TOKEN }}
